{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">Bonjour</a>
                <small class="text-muted">Dataframe Loaded</small>
            </div>
            <h2><a class="article-title" href="#">Bonjour</a></h2>
            <p class="article-content">!!!</p>
            </div>
        </article>
</div>
{% endblock content %}