{% extends "layout_param.html" %}
{% block paramselect %}
<div class="form-box">
    <h4 class="text-center">Filter Route</h4>
    <form action="/filter_data" method="post">
        <label>Select Route:<label>
            <div class="container">
                <div class="row">
                    <!-- Route Selection Buttons -->
                    {% for route in unique_routes %}
                    <div class="col-md-4 mb-2">
                        <button type="button" class="btn btn-block {{ 'btn-primary' if route == selected_route else 'btn-secondary' }}" onclick="selectRoute('{{ route }}')">{{ route }}</button>
                    </div>
                    {% if loop.index is divisibleby 3 %}
                        </div><div class="row">
                    {% endif %}
                    {% endfor %}
                    <!-- Hidden field to store the selected route -->
                    <input type="hidden" id="selected_route" name="selected_route" value="{{ selected_route }}">
                </div>
            </div>

        <!-- Operating Carrier Selection -->
        <label>Select Operating Carrier:<label>
            <div class="container">
                <div class="row mb">
                        {% for value in unique_aln_values %}
                        <div class="row-md-3 mb-3">
                            <input class="form-check-input" type="radio" id="{{ value }}_op" name="carrier" value="{{ value }}"
                                    {% if value == selected_carrier %}checked{% endif %}>
                            <label class="form-check-label" for="{{ value }}_op">{{ value }}</label>
                        </div>
                        {% endfor %}
                </div>
            </div>

        <!-- Update Button -->
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

<form action="/update" method="post">
    <div class="form-box">
        <h4 class="text-center">Adjust Parameters</h4>
        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Select Preset Buckets
            </button>
            <ul class="dropdown-menu" aria-labelledby="route_dropdown">
                <li><a class="dropdown-item" href="#">17pp high</a></li>
                <li><a class="dropdown-item" href="#">17pp low</a></li>
            </ul>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="P1_Start" class="form-label">P1 Start %</label>
                <input type="number" name = "P1_Start" value="{{P1_Start}}" class="form-control" placeholder="P1 Start" step="0.01">
            </div>
            <div class="col-md-6">
                <label for="P2_Start" class="form-label">P1 Start %</label>
                <input type="number" name = "P2_Start" value="{{P2_Start}}" class="form-control" placeholder="P2 Start" step="0.01">
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                180 AP Start Index Num:
            </div>
            <div class="col-md-3">
                <input type="number" name = "AP180" class="form-control" value="{{AP180}}" placeholder="Index_start" step="any">
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                120 AP Start Index Num:
            </div>
            <div class="col-md-3">
                <input type="number" name = "AP120" class="form-control" value="{{AP120}}" placeholder="Index_start" step="any">
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                100 AP Start Index Num:
            </div>
            <div class="col-md-3">
                <input type="number" name = "AP100" class="form-control" value="{{AP100}}" placeholder="Index_start" step="any">
            </div>

        </div>

        <div class="row mb-3 mx-auto">
            <button class="btn btn-primary" type="submit">Load Percentiles</button>
        </div>

        <div class="row mb-3">
                <p>Select Parameter Adjustment Mode:</p>
                <input type="radio" id="adj_auto" name="param_adjustment_mode" value="auto">
                <label for="adj_auto">Automatic</label><br>
            
                <input type="radio" id="adj_manual" name="param_adjustment_mode" value="manual">
                <label for="adj_manual">Manual</label><br>
        </div>
    </div>
    {% endblock paramselect %}

    {% block graphobject %}
        <h2>Price Evolution</h2>
        <!-- Display the Plotly graph -->
        <div>{{ graph_html|safe }}</div>
    {% endblock graphobject %}

    {% block datatbl %}
    <h2>Parameter Table</h2>

        <table class="table table-bordered" id="data-table">
            <thead>
                <tr>
                    <!-- Add a new header row above the existing one -->
                    <th colspan="2">Pricing Index</th>
                    <th colspan="2">Flight Op</th>
                    <th colspan="3">180 AP Parameters</th>
                    <th colspan="3">120 AP Parameters</th>
                    <th colspan="3">100 AP Parameters</th>
                </tr>
                <tr>
                    <th>PRICE_INDEX</th>
                    <th>NUM</th>
                    <th>ROUTE</th>
                    <th>ALN</th>
                    <th style="width: 75px;">P1</th>
                    <th style="width: 75px;">P2</th>
                    <th style="width: 75px;">B180</th>
                    <th style="width: 75px;">P1</th>
                    <th style="width: 75px;">P2</th>
                    <th style="width: 75px;">B120</th>
                    <th style="width: 75px;">P1</th>
                    <th style="width: 75px;">P2</th>
                    <th style="width: 75px;">B100</th>

            </thead>
            <tbody>
                {% for i, row in enumerate(data) %}
                <tr>
                    <td>{{ row.PRICE_INDEX }}</td>
                    <td>{{ row.PRICE_INDEX_NUM }}</td>
                    <td>{{ row.ROUTE }}</td>
                    <td>{{ row.INVENTORY_CARRIER_CD }}</td>
                    <td>{{ row.P_PCT_180_P1 }}</td>
                    <td>{{ row.P_PCT_180_P2 }}</td>
                    <td>
                        <input type="number" step="1" name="BUCKETS_180_{{i}}" value="{{ row['BUCKETS_180'] }}" style="background-color: yellow;" {% if row['PRICE_INDEX_NUM'] < AP180 %}disabled{% endif %}>
                    </td>
                    <td>{{ row.P_PCT_120_P1 }}</td>
                    <td>{{ row.P_PCT_120_P2 }}</td>
                    <td>
                        <input type="number" step="1" name="BUCKETS_120_{{i}}" value="{{ row['BUCKETS_120']}}" style="background-color: yellow;" {% if row['PRICE_INDEX_NUM'] < AP120 %}disabled{% endif %}>
                    </td>
                    <td>{{ row.P_PCT_100_P1 }}</td>
                    <td>{{ row.P_PCT_100_P2 }}</td>
                    <td>
                        <input type="number" step="1" name="BUCKETS_100_{{i}}" value="{{ row['BUCKETS_100']}}" style="background-color: yellow;" {% if row['PRICE_INDEX_NUM'] < AP100 %}disabled{% endif %}>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock datatbl %}
